#splash {
    background: none repeat scroll 0 0 #165EA7;
    height: 120%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
}
    
   #splash #splash-content {
        margin: 0 auto;
    }
    #splash img#splash-bg {
        width: 100%;
        height: 100%;
        position: absolute;
        opacity: 0.6;
    }
    #splash img#splash-title,img#splash-footer {
        position: absolute; 
    }
    #splash img#splash-title {
        width: 141px;
        height: 120px;
        top: 70%;
        margin-top: -136px;
        left: 50%;
        margin-left: -70px;
    }
	#splash p {
		color: #fff;
		font-size: 20px;
		font-weight: 100;
		text-shadow: none;
		text-align: center;
		margin-top: 40%;
	}


/* ==============================*/
/* General Styles */
/* ==============================*/

/* Utility css */
a{
  text-decoration: none;
}

.left{
  float: left;
}
.right{
  float: right;
}
.clear {
  clear: both;
}
.color {
  color: #165EA7;
}
.alpha{
  margin-left: 0 !important;
}
.omega{
  margin-right: 0 !important;
}
.hidden {
    display: none;
}
.center {
    text-align: center;
}
 .no-text-shadow {
  text-shadow: none;
 }
 .white {
  color: #fff;
 }
.full-width {
  width: 100%;
}
.justify {
    text-align: justify;
}
.content-padding {
    padding: 0 30px;
}
.content-margin {
  margin: 0 30px;
}
.no-margin {
  margin: 0;
}
.white-content-box {
    padding: 30px;
    background: #fff;
}
.gradient-box {
  background: linear-gradient(to bottom, #FFFFFF 0%, #EFEFEF 100%) repeat scroll 0 0 transparent;
}
.gradient-box-invert {
  background: linear-gradient(to bottom, #EFEFEF 0%, #FFFFFF 100%) repeat scroll 0 0 transparent;
}
.round-inner-images img{
  border-radius: 5px 5px 5px 5px;
}
.shadow-inner-images img{
   
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.78);
  
}
hr {
  border-color: #efefef;
  margin-bottom: 15px !important;
  margin-top: 15px !important;
  display: block;
}
.white-box {
  background: #fff;
}
.font-14 {
  font-size: 14px !important;
}
.font-16 {
  font-size: 16px !important;
}
.font-18 {
  font-size: 18px !important;
}
.font-20 {
  font-size: 20px !important;
}


.twitter-box h2{

    margin-bottom: 2px;

}
body {
  /*font-family: 'Quattrocento', serif;*/
    -webkit-text-size-adjust:none;
    font-family: "Source Sans Pro";
    background: #ffffff !important;
}
body ::selection {
    background-color: #165EA7;
    text-shadow: none;
    color: #fff;
  }
body *::-moz-selection {
    background-color: #165EA7;
    text-shadow: none;
    color: #fff;
  }
 body #container {
    max-width: 1000px;
    margin: 0 auto;
    height: 120%;
    position: relative;
    background: #5A5959 !important;
  }
  

.pages {
  .transition-duration(0.2s);
}

.ui-header {
    background: #fff;
    color: #333;
    text-shadow: none;
    border: 1px solid #f6f6f6;
}
    
    
.ui-header h1.ui-title {
        margin: 0 20% !important;
        text-transform: uppercase;
	color: #333;
}
       .ui-header p {
            font-size: 12px;
            margin: 15px 0;
        }
        .ui-header p:first-child {
            font-size: 15px;
            color: #165EA7;
        }
        .ui-header p.no-margin {
            margin-top: 0;
            margin-bottom: 7px;
        }
        .ui-header p.no-margin:first-child {
            margin-top: 7px;
            margin-bottom: 0;
        }

    
    .ui-header .menu-button {
        left: 0;
		.gradient(#fff, darken(#fff, 3%));
		.drop-shadow(1px, 1px, 3px, 0.18);
		margin-top: -1px;
    }
    .ui-header .back-button {
        right: 0;
		.gradient(#fff, darken(#fff, 3%));
		.drop-shadow(1px, 1px, 3px, 0.18);
		margin-top: -1px;
    }
    .ui-header .menu-button, .ui-header .back-button {
        margin: 5px;
        display: block;
        position: absolute;
    }
    .ui-header .menu-button.hover img, .ui-header .back-button.hover img{
        
            background: #fafafa;
        
    }

.ui-footer {
    font-size: 15px;
    padding: 0 15px;
    text-shadow: none;
    background: #165EA7;
    border: 0;
    font-weight: 400;
	overflow: hidden;
	color: #efefef;
}
	.ui-footer p {
		margin: 15px 0 !important;
	}
                .ui-footer p span {
                    float: right;
                    margin-top: -6px;
                }


.header-shadow {
    background: url(../images/shadow.png) center bottom no-repeat;
    height: 31px;
	position: absolute;
	z-index: 1;
	width: 100%;
}

.ui-body-a, .ui-content {
	color: #333;
    background: #ffffff !important;
    padding: 0;
    text-shadow: 1px 0 #fff;
}
/*    typography */
    .ui-body-a h1, .ui-content h1 {
        font-weight: 400;
        font-size: 20px;
        margin-top: 0;
	color: #165EA7;
    }
    .ui-body-a h3, .ui-content h3 {
      color: #165EA7;
    }
    .ui-body-a p, .ui-content p {
      margin-top: 0;
	}
      .ui-body-a p .drop-cap, .ui-content p .drop-cap {
	float: left;
	display: block;
	font-size: 38px;
	line-height: 26px;
	margin: 0 1px 2px 0;
      }
     .ui-body-a p strong, .ui-content p strong {
	color: #165EA7;
      }
    
    .ui-body-a h2, .ui-content h2 {
        color: #333;
		background: #f6f6f6;
		border-right: 4px solid #165EA7;
		font-size: 18px;
		font-weight: 400;
		text-shadow: none;
		padding: 2px;
    }
    
    .ui-body-a ul.nav-list, .ui-content ul.nav-list {
        margin-top: 0;
        padding: 0;
        overflow: hidden;
        border: 1px solid #efefef;
    }
    .ui-body-a ul.nav-list li, .ui-content ul.nav-list li {
        margin: 0;
        border-bottom: 1px solid #efefef;
    }
    .ui-body-a ul.nav-list li:last-child, .ui-content ul.nav-list li:last-child {
        border: 0px;
    }
    .ui-body-a ul.nav-list li a , .ui-content ul.nav-list li a {
        border-left: 5px solid #165EA7;
        background: linear-gradient(to bottom, #FFFFFF 0%, #EFEFEF 100%) repeat scroll 0 0 transparent;
        font-weight: 400;
        padding: 5%;
		display: block;
        color: #333 !important;
		cursor: pointer;
	}
	@media only screen and (min-width: 500px) {
	  .ui-body-a ul.nav-list li a , .ui-content ul.nav-list li a 
	  {
		  padding: 3%;
	  }
	}
        
    

.ui-body-a ul.nav-list li a.hover, .ui-content ul.nav-list li a.hover {
    background: linear-gradient(to bottom, #EFEFEF 0%, #FFFFFF 100%) repeat scroll 0 0 transparent;
}
.ui-body-a ul.nav-list li a span, .ui-content ul.nav-list li a span {
    color: #165EA7;
    float: right;
    font-size: 14px;
    line-height: 17px;
}
.ui-body-a .ui-link, .ui-content .ui-link, .ui-body-a .ui-link:visited, .ui-content .ui-link:visited {
    color: #165EA7;
    font-weight: normal;
}
.ui-body-a .bread-crumb ul, .ui-content .bread-crumb ul {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: linear-gradient(to bottom, #F6F6F6 0%, #EFEFEF 100%) repeat scroll 0 0 transparent;
    border-color: #E2E2E2 -moz-use-text-color;
    border-image: none;
    border-style: solid none;
    border-width: 1px 0;
    font-size: 12px;
    margin: 0;
    overflow: hidden;
    padding: 0;
}
.ui-body-a .bread-crumb ul li, .ui-content .bread-crumb ul li {
    background: url("file:///D:/Clients/NSSF/Mobile/klassio-rsv/css/../images/bc-separator.png") no-repeat scroll right center transparent;
    float: left;
    list-style: none outside none;
    padding: 8px 21px 8px 8px;
}
.ui-body-a .bread-crumb ul li a, .ui-content .bread-crumb ul li a, .ui-body-a .bread-crumb ul li a.ui-link, .ui-content .bread-crumb ul li a.ui-link {
    color: #333333;
}
.ui-body-a .bread-crumb ul li span, .ui-content .bread-crumb ul li span {
    display: block;
    margin: 2px 0 3px;
}
.ui-body-a .bread-crumb ul li img, .ui-content .bread-crumb ul li img {
    margin-top: 2px;
}
.ui-body-a ol, .ui-content ol {
    padding: 0 0 0 30px;
}
.ui-body-a ol li, .ui-content ol li {
    color: #165EA7;
    margin-bottom: 3px;
}
.ui-body-a ol li span, .ui-content ol li span {
    color: #333333;
}
.ui-body-a ul.bullet-1, .ui-content ul.bullet-1, .ui-body-a ul.bullet-2, .ui-content ul.bullet-2, .ui-body-a ul.bullet-3, .ui-content ul.bullet-3, .ui-body-a ul.bullet-4, .ui-content ul.bullet-4 {
    padding: 0 0 0 15px;
}
.ui-body-a ul.bullet-1 li, .ui-content ul.bullet-1 li, .ui-body-a ul.bullet-2 li, .ui-content ul.bullet-2 li, .ui-body-a ul.bullet-3 li, .ui-content ul.bullet-3 li, .ui-body-a ul.bullet-4 li, .ui-content ul.bullet-4 li {
    background: none repeat scroll 0 0 transparent;
    list-style: none outside none;
    margin: 0 0 3px;
    padding: 0 0 0 15px;
    text-indent: -16px;
}
.ui-body-a ul.bullet-1 li a, .ui-content ul.bullet-1 li a, .ui-body-a ul.bullet-2 li a, .ui-content ul.bullet-2 li a, .ui-body-a ul.bullet-3 li a, .ui-content ul.bullet-3 li a, .ui-body-a ul.bullet-4 li a, .ui-content ul.bullet-4 li a {
    font-size: 100%;
    line-height: 1.7;
}
.ui-body-a ul.bullet-1 li:before, .ui-content ul.bullet-1 li:before {
    color: #165EA7;
    content: "o";
    font-family: arial;
    margin-right: 9px;
}
.ui-body-a ul.bullet-2 li:before, .ui-content ul.bullet-2 li:before {
    color: #165EA7;
    content: "|";
    font-family: arial;
    margin-right: 9px;
}
.ui-body-a ul.bullet-3 li:before, .ui-content ul.bullet-3 li:before {
    color: #165EA7;
    content: ">";
    font-family: arial;
    margin-right: 9px;
}
.ui-body-a ul.bullet-4 li:before, .ui-content ul.bullet-4 li:before {
    color: #165EA7;
    content: "-";
    font-family: arial;
    margin-right: 9px;
}
.ui-body-a .button, .ui-content .button {
    background: linear-gradient(to bottom, #F6F6F6 0%, #EFEFEF 100%) repeat scroll 0 0 transparent;
    border: 0 solid #EFEFEF !important;
    border-radius: 5px 5px 5px 5px;
    display: inline-block;
    margin-bottom: 4px;
    padding: 6px 10px;
    text-shadow: none;
}
.ui-body-a .button.full-width, .ui-content .button.full-width {
    display: block;
    text-align: center;
}
.ui-body-a .button1, .ui-content .button1 {
    background: linear-gradient(to bottom, #FFFFFF 0%, #F2F2F2 100%) repeat scroll 0 0 transparent;
    border: 1px solid #F6F6F6;
    color: #165EA7;
}
.ui-body-a .button1.hover, .ui-content .button1.hover {
    background: linear-gradient(to bottom, #F2F2F2 0%, #FFFFFF 100%) repeat scroll 0 0 transparent;
    border: 1px solid #F6F6F6;
}
.ui-body-a .button2, .ui-content .button2 {
    background: linear-gradient(to bottom, #38B4E8 0%, #165EA7 100%) repeat scroll 0 0 transparent;
    border: 1px solid #165EA7;
    color: #FFFFFF !important;
}
.ui-body-a .button2.hover, .ui-content .button2.hover {
    background: linear-gradient(to bottom, #165EA7 0%, #38B4E8 100%) repeat scroll 0 0 transparent;
}
.ui-body-a .button3, .ui-content .button3 {
    background: linear-gradient(to bottom, #808080 0%, #333333 100%) repeat scroll 0 0 transparent;
    border: 1px solid #000000;
    color: #FFFFFF !important;
}
.ui-body-a .button3.hover, .ui-content .button3.hover {
    background: linear-gradient(to bottom, #000000 0%, #4D4D4D 100%) repeat scroll 0 0 transparent;
}
.ui-body-a .button4, .ui-content .button4 {
    background: linear-gradient(to bottom, #B5CBCC 0%, #5F8789 100%) repeat scroll 0 0 transparent;
    border: 1px solid #CCCCCC;
    color: #FFFFFF !important;
}
.ui-body-a .button5, .ui-content .button5 {
    background: linear-gradient(to bottom, #E49091 0%, #B02B2C 100%) repeat scroll 0 0 transparent;
    border: 1px solid #CCCCCC;
    color: #FFFFFF !important;
}
.ui-body-a .button6, .ui-content .button6 {
    background: linear-gradient(to bottom, #F4D2E4 0%, #D65799 100%) repeat scroll 0 0 transparent;
    border: 1px solid #CCCCCC;
    color: #FFFFFF !important;
}
.ui-body-a .button7, .ui-content .button7 {
    background: linear-gradient(to bottom, #C9DCAB 0%, #83A846 100%) repeat scroll 0 0 transparent;
    border: 1px solid #CCCCCC;
    color: #FFFFFF !important;
}
.ui-body-a .button8, .ui-content .button8 {
    background: linear-gradient(to bottom, #A2A2A2 0%, #555555 100%) repeat scroll 0 0 transparent;
    border: 1px solid #CCCCCC;
    color: #FFFFFF !important;
}
.ui-body-a .button9, .ui-content .button9 {
    background: linear-gradient(to bottom, #BCD7F3 0%, #7BB0E7 100%) repeat scroll 0 0 transparent;
    border: 1px solid #CCCCCC;
    color: #FFFFFF !important;
}
.ui-body-a .button10, .ui-content .button10 {
    background: linear-gradient(to bottom, #F1CAB7 0%, #D86D37 100%) repeat scroll 0 0 transparent;
    border: 1px solid #CCCCCC;
    color: #FFFFFF !important;
}
.ui-body-a .button11, .ui-content .button11 {
    background: linear-gradient(to bottom, #F4CC8A 0%, #EDAE44 100%) repeat scroll 0 0 transparent;
    border: 1px solid #CCCCCC;
    color: #FFFFFF !important;
}
.ui-body-a .button12, .ui-content .button12 {
    background: linear-gradient(to bottom, #FF9999 0%, #FF0000 100%) repeat scroll 0 0 transparent;
    border: 1px solid #CCCCCC;
    color: #FFFFFF !important;
}
.ui-body-a .button4.hover, .ui-content .button4.hover, .ui-body-a .button5.hover, .ui-content .button5.hover, .ui-body-a .button6.hover, .ui-content .button6.hover, .ui-body-a .button7.hover, .ui-content .button7.hover, .ui-body-a .button8.hover, .ui-content .button8.hover, .ui-body-a .button9.hover, .ui-content .button9.hover, .ui-body-a .button10.hover, .ui-content .button10.hover, .ui-body-a .button11.hover, .ui-content .button11.hover, .ui-body-a .button12.hover, .ui-content .button12.hover {
    background: none repeat scroll 0 0 #333333 !important;
    color: #FFFFFF !important;
}
.ui-body-a .no-border, .ui-content .no-border {
    border: 0 none !important;
}
.ui-body-a table, .ui-content table {
    border: 1px solid #EFEFEF;
    margin-bottom: 5px;
}
.ui-body-a table td, .ui-content table td, .ui-body-a table th, .ui-content table th {
    font-weight: normal;
    padding: 5px 9px;
    text-align: left;
}
.ui-body-a table.table1 th, .ui-content table.table1 th {
    color: #165EA7;
    font-weight: normal;
}
.ui-body-a table.table1 td, .ui-content table.table1 td, .ui-body-a table.table1 th, .ui-content table.table1 th {
    background: linear-gradient(to bottom, #FFFFFF 0%, #EFEFEF 100%) repeat scroll 0 0 transparent;
}
.ui-body-a table.table2 td, .ui-content table.table2 td, .ui-body-a table.table2 th, .ui-content table.table2 th {
    background: none repeat scroll 0 0 #F6F6F6;
}
.ui-body-a table.table2 th, .ui-content table.table2 th {
    border-bottom: 1px solid #D8D8D8;
}
.ui-body-a table.table3 td, .ui-content table.table3 td, .ui-body-a table.table3 th, .ui-content table.table3 th {
    background: none repeat scroll 0 0 #F6F6F6;
}
.ui-body-a table.table3 th, .ui-content table.table3 th {
    background: none repeat scroll 0 0 #333333;
    color: #FFFFFF;
    text-shadow: none;
}
.ui-body-a pre, .ui-content pre {
    background: none repeat scroll 0 0 #F9F1ED;
    border-bottom: 1px solid #DCD7D4;
    border-right: 1px solid #DCD7D4;
    color: #AC3400;
    font-style: italic;
    overflow: auto;
    padding: 10px;
}
.ui-body-a .cssstyle-style1 pre, .ui-content .cssstyle-style1 pre, .ui-body-a .cssstyle-style3 pre, .ui-content .cssstyle-style3 pre, .ui-body-a .cssstyle-style5 pre, .ui-content .cssstyle-style5 pre {
    background: none repeat scroll 0 0 #333333;
    border-bottom: 1px solid #3A3A3A;
    border-right: 1px solid #3A3A3A;
    color: #BBBBBB;
}
.ui-body-a .alert, .ui-content .alert, .ui-body-a .approved, .ui-content .approved, .ui-body-a .attention, .ui-content .attention, .ui-body-a .camera, .ui-content .camera, .ui-body-a .cart, .ui-content .cart, .ui-body-a .doc, .ui-content .doc, .ui-body-a .download, .ui-content .download, .ui-body-a .media, .ui-content .media, .ui-body-a .note, .ui-content .note, .ui-body-a .notices, .ui-content .notices {
    background: none repeat-x scroll 0 100% #FAFCFD;
    display: block;
    margin: 0 0 15px;
}
.ui-body-a .typo-icon, .ui-content .typo-icon {
    background: none no-repeat scroll 10px 12px transparent;
    display: block;
    margin: 0 0 15px;
    padding: 8px 10px 0 36px;
}
.ui-body-a .alert, .ui-content .alert {
    background-image: url("file:///D:/Clients/NSSF/Mobile/klassio-rsv/css/../images/icons/alert.png");
    border-bottom: 1px solid #F8C9BB;
    border-right: 1px solid #F8C9BB;
    color: #D0583F;
}
.ui-body-a .approved, .ui-content .approved {
    background-image: url("file:///D:/Clients/NSSF/Mobile/klassio-rsv/css/../images/icons/approved.png");
    border-bottom: 1px solid #C1CEC1;
    border-right: 1px solid #C1CEC1;
    color: #6CB656;
}
.ui-body-a .attention, .ui-content .attention {
    background-image: url("file:///D:/Clients/NSSF/Mobile/klassio-rsv/css/../images/icons/attention.png");
    border-bottom: 1px solid #E4E4D5;
    border-right: 1px solid #E4E4D5;
    color: #E1B42F;
}
.ui-body-a .camera, .ui-content .camera {
    background-image: url("file:///D:/Clients/NSSF/Mobile/klassio-rsv/css/../images/icons/camera.png");
    border-bottom: 1px solid #C9D5D8;
    border-right: 1px solid #C9D5D8;
    color: #55A0B4;
}
.ui-body-a .cart, .ui-content .cart {
    background-image: url("file:///D:/Clients/NSSF/Mobile/klassio-rsv/css/../images/icons/cart.png");
    border-bottom: 1px solid #D3D3D3;
    border-right: 1px solid #D3D3D3;
    color: #559726;
}
.ui-body-a .doc, .ui-content .doc {
    background-image: url("file:///D:/Clients/NSSF/Mobile/klassio-rsv/css/../images/icons/doc.png");
    border-bottom: 1px solid #E5E5E5;
    border-right: 1px solid #E5E5E5;
    color: #666666;
}
.ui-body-a .download, .ui-content .download {
    background-image: url("file:///D:/Clients/NSSF/Mobile/klassio-rsv/css/../images/icons/download.png");
    border-bottom: 1px solid #D3D3D3;
    border-right: 1px solid #D3D3D3;
    color: #666666;
}
.ui-body-a .media, .ui-content .media {
    background-image: url("file:///D:/Clients/NSSF/Mobile/klassio-rsv/css/../images/icons/media.png");
    border-bottom: 1px solid #DBE1E6;
    border-right: 1px solid #DBE1E6;
    color: #8D79A9;
}
.ui-body-a .note, .ui-content .note {
    background-image: url("file:///D:/Clients/NSSF/Mobile/klassio-rsv/css/../images/icons/note.png");
    border-bottom: 1px solid #E6DAD2;
    border-right: 1px solid #E6DAD2;
    color: #B76F38;
}
.ui-body-a .notices, .ui-content .notices {
    background-image: url("file:///D:/Clients/NSSF/Mobile/klassio-rsv/css/../images/icons/notice.png");
    border-bottom: 1px solid #C7CDDA;
    border-right: 1px solid #C7CDDA;
    color: #6187B3;
}
.ui-body-a .approved .typo-icon, .ui-content .approved .typo-icon {
    background-image: url("file:///D:/Clients/NSSF/Mobile/klassio-rsv/css/../images/icons/approved-icon.png");
}
.ui-body-a .alert .typo-icon, .ui-content .alert .typo-icon {
    background-image: url("file:///D:/Clients/NSSF/Mobile/klassio-rsv/css/../images/icons/alert-icon.png");
}
.ui-body-a .attention .typo-icon, .ui-content .attention .typo-icon {
    background-image: url("file:///D:/Clients/NSSF/Mobile/klassio-rsv/css/../images/icons/attention-icon.png");
}
.ui-body-a .camera .typo-icon, .ui-content .camera .typo-icon {
    background-image: url("file:///D:/Clients/NSSF/Mobile/klassio-rsv/css/../images/icons/camera-icon.png");
}
.ui-body-a .cart .typo-icon, .ui-content .cart .typo-icon {
    background-image: url("file:///D:/Clients/NSSF/Mobile/klassio-rsv/css/../images/icons/cart-icon.png");
}
.ui-body-a .doc .typo-icon, .ui-content .doc .typo-icon {
    background-image: url("file:///D:/Clients/NSSF/Mobile/klassio-rsv/css/../images/icons/doc-icon.png");
}
.ui-body-a .download .typo-icon, .ui-content .download .typo-icon {
    background-image: url("file:///D:/Clients/NSSF/Mobile/klassio-rsv/css/../images/icons/download-icon.png");
}
.ui-body-a .media .typo-icon, .ui-content .media .typo-icon {
    background-image: url("file:///D:/Clients/NSSF/Mobile/klassio-rsv/css/../images/icons/media-icon.png");
}
.ui-body-a .note .typo-icon, .ui-content .note .typo-icon {
    background-image: url("file:///D:/Clients/NSSF/Mobile/klassio-rsv/css/../images/icons/note-icon.png");
}
.ui-body-a .notices .typo-icon, .ui-content .notices .typo-icon {
    background-image: url("file:///D:/Clients/NSSF/Mobile/klassio-rsv/css/../images/icons/notice-icon.png");
}
.ui-body-a .cherry-slider, .ui-content .cherry-slider {
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
.ui-body-a .cherry-slider .anim-item, .ui-content .cherry-slider .anim-item {
    display: none;
    position: absolute;
}
.ui-body-a .cherry-slider .anim-item p, .ui-content .cherry-slider .anim-item p {
    margin: 0;
}
.ui-body-a .absolute, .ui-content .absolute {
    position: absolute;
}
.ui-body-a .little-padding, .ui-content .little-padding {
    padding: 3px 7px;
}
.ui-body-a .white-bg, .ui-content .white-bg {
    background: url("../images/transparent-white.png") repeat scroll 0 0 transparent;
}
.ui-body-a .gray-border, .ui-content .gray-border {
    border: 1px solid #F6F6F6;
}
.ui-body-a .justify, .ui-content .justify {
    text-align: justify;
}
.ui-body-a .wrap-right, .ui-content .wrap-right {
    float: right;
    margin: 15px 0 15px 15px;
}
.ui-body-a .wrap-left, .ui-content .wrap-left {
    float: left;
    margin: 15px 15px 15px 0;
}

.flexslider {
  margin: 0;
  min-height: 145px;
	background: transparent;
}

.rotate-10 {
  transform: rotate(10deg);
  display: block;
}
.rotate-minus-10 {
  transform: rotate(-10deg);
  display: block;
}
.rotate-10 {
  transform: rotate(5deg);
  display: block;
}


/* ==============================*/
/* Styles for Gallery */
/* ==============================*/
.news-item li {
    margin-bottom: 10px;
}
.news-item p {
    margin-bottom: 0;
}


.column-split {
    -moz-box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: relative;
}
.column-split li {
    display: inline-block;
    float: left;
    list-style: none outside none;
    width: 33.3%;
}
.column-split li iframe {
    margin-left: 5px;
}
.column-split.gallery li img {
    border: medium none;
    display: block;
    height: auto;
    margin: 0;
    width: 100%;
}
.column-split.gallery li a {
    border: 2px solid #FFFFFF;
    display: block;
    margin-bottom: 5px;
    margin-right: 5px;
    overflow: hidden;
}
.column-split.gallery li a.hover {
    border-color: #165EA7;
}
.column-split.four-column li {
    width: 25%;
}
.column-split.two-column li {
    width: 50%;
}
.column-split.one-column li {
    width: 100%;
}

@media only screen and (min-width: 300px) {
	.column-split.flexible-column li {width: 50%;}
      }
      @media only screen and (min-width: 500px) {
	.column-split.flexible-column li {width: 33.3%;}
      }
      @media only screen and (min-width: 700px) {
	.column-split.flexible-column li {width: 25%;}
      }
      @media only screen and (min-width: 900px) {
	.column-split.flexible-column li { /*width: 20%;*/}
      }
.column-split .left-padding {
    padding-left: 3px;
}
.column-split .right-padding {
    padding-right: 3px;
}
  
  
  
 


/* ==============================*/
/* Styles for Search Page */
/* ==============================*/
.search-item {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px dashed #efefef;
}


/* ==============================*/
/* Styles for Contact Page */
/* ==============================*/

form.designed .form-element {
    margin-bottom: 10px;
}
form.designed label {
    font-size: 14px;
}
form.designed input, form.designed textarea {
    background: none repeat scroll 0 0 #FFFFFF !important;
    border-radius: 0 0 0 0;
    box-shadow: 1px 1px 4px transparent;
    font-size: 14px;
    margin: 0.1em 0;
}
form.designed input.invalid, form.designed textarea.invalid {
    border-color: red;
}

.address {
    height: 180px;
}
.address p {
    margin-bottom: 8px;
}
.address img, .address .address-info {
    left: 50%;
    margin-left: -83px;
    width: 165px;
}

/* ==============================*/
/* Styles for Blog Page */
/* ==============================*/

.blog-article .article-header {
    background: none repeat scroll 0 0 #F6F6F6;
    border-bottom: 1px solid #EFEFEF;
    margin-bottom: 10px;
    padding: 4%;
}
.blog-article .article-header .title {
    color: #165EA7;
    margin: 0 !important;
    text-transform: uppercase;
}
.blog-article .article-header .info {
    color: #CCCCCC;
    margin: 0 !important;
}
.blog-article .article-header .info span {
    color: #AAAAAA;
}
.blog-article .article-body {
    padding: 4%;
}
.blog-article .article-body img {
    float: right;
    height: auto;
    margin: 0 0 10px 10px;
    width: 90px;
}
.blog-article .article-body img.left {
    float: left;
}
.blog-article .article-body img.right {
    float: right;
}
.blog-article .article-footer {
    padding: 0 4% 4%;
}
.blog-article .article-footer .social {
    margin-top: 3px;
}



/*management team*/
.team-members .member {
    background: linear-gradient(to bottom, #FFFFFF 0%, #EFEFEF 100%) repeat scroll 0 0 transparent;
}
.team-members .member .left {
    width: 48%;
}
.team-members .member img.photo {
    border-left: 5px solid #165EA7;
    display: block;
    margin-bottom: 1px;
    margin-right: 10px;
    width: 80%;
}
.team-members .member strong {
    color: #165EA7;
    display: block;
    font-weight: normal;
    margin-bottom: 2px;
    margin-top: 10px;
}
.team-members .member p {
    margin-bottom: 10px;
}

.minus-shadow {
    padding-top: 0 !important;
}


#menu {
  background: #5a5959 url(../images/menuBg.gif) !important;
  background-attachment: fixed;
  width: 165px;
  height: auto;
  display: block;
  float: left;
  display: none;
}

#search {
	padding: 5px;
	border-radius: 5px;
	width: 90%;
	box-sizing: border-box;
        margin: 6px 4px;
	background: #fff url(../images/magnifier.png) no-repeat 95% center;
}

#menu h3{
	height: 51px;
        margin: 6px 4px;
	box-sizing: border-box;
	font-size:12px;
	color:#fff;
	margin:0;
	background-color:#5a5959;
	padding:4px 0 4px 4px;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,rgba(90,89,89,1)), color-stop(85%,rgba(66,65,65,1)));
	border-top:solid #6b6b6b 1px;
	border-bottom:solid #3d3d3d 1px;
	text-shadow: 0px -1px 1px #333;
}
#menu ul {
  margin: 0;
  padding: 0;
  width: inherit;
}
#menu ul li {
  list-style-type: none;
  margin: 0px 0;
}
#menu ul li a:link, #menu ul li a:visited, #menu ul li a:active {
  border-bottom: solid #333 1px;
  box-shadow: 0 1px 0 #727272;
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  width: 165px;
  display: block;
  padding: 10px 0px 10px 10px;
  box-sizing: border-box;
  text-shadow: 0px 1px 1px #000000;
}
#menu ul li a.hover, #menu ul li a:active {
  background-color: #716f6f;
}
.active {
    border-left: 3px solid #165EA7;
}
.active a {
    padding-left: 6px;
}


.icon {
    color: #333333 !important;
    display: block;
    float: left;
    margin-bottom: 25px;
    text-align: center;
    width: 33%;
}

.icon img {
    display: block;
    margin: 0 auto;
}

  @media only screen and (max-width: 300px) {
   .icon { width: 50%;}
  }
  @media only screen and (min-width: 550px) {
    .icon {width: 25%;}
  }
  @media only screen and (min-width: 750px) {
    .icon {width: 20%;}
  }

  
/* responsive for ipad and bigger devices */
@media only screen and (min-width: 550px) {
    .anim-item {
      font-size: 15px;
    }
	.ipad-width-optimize {
		max-width: 500px;
		margin: 0 auto;
	}
}


.ui-btn-inner {
    border-top: medium none !important;
}
.ui-loader .ui-icon {
    background-color: transparent !important;
}
.ui-loading .ui-loader {
    background: none repeat scroll 0 0 transparent !important;
    display: block !important;
    opacity: 0.5;
}
.ui-content .ui-listview {
    margin: 0;
}
.ui-li {
    border-top: 0 none;
}
.ui-li a {
    padding-bottom: 5% !important;
    padding-left: 5% !important;
    padding-top: 5% !important;
}
.ui-btn-up-a, .ui-btn-hover-a {
    background: linear-gradient(to bottom, #FFFFFF 0%, #EFEFEF 100%) repeat scroll 0 0 transparent;
    border: medium none !important;
    color: #333333 !important;
    font-weight: 400;
}
.ui-btn-up-a a, .ui-btn-hover-a a {
    color: #333333 !important;
    font-size: 13px !important;
}
.ui-btn-hover-a {
    background: linear-gradient(to bottom, #EFEFEF 0%, #FFFFFF 100%) repeat scroll 0 0 transparent;
}
.ui-collapsible-content {
    background: none repeat scroll 0 0 #F6F6F6;
    border-color: #EFEFEF !important;
    padding: 10px;
}

@media only screen and (min-width: 1010px) {
    #menu {
        display: block !important;
    }
    .ui-mobile [data-role="page"], .ui-mobile [data-role="dialog"], .ui-page {
        width: 845px;
        left: 165px;
    }
    .menu-button {
        display: none !important;
    }
}